.share {
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  border-radius: 10px;
  margin: 20px;
}

.shareUser {
  display: flex;
  align-items: center;
  padding: 10px;
}

.shareImg {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.shareInput {
  border: none;
  background-color: none;
  margin: 0 20px;
}

.shareInput:focus {
  outline: none;
}

.shareLine {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.shareLine hr {
  width: calc(100% - 30px);
}

.shareBtns {
  display: flex;
  align-items: center;
}

.shareOptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 8;
}

.shareOptions li {
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.shareOptions span {
  font-size: 13px;
  margin: 5px;
  font-weight: bold;
}

.photo {
  color: red;
}

.tag {
  color: blue;
}

.location {
  color: green;
}

.feeling {
  color: rgb(162, 162, 9);
}

.shareBtn {
  background-color: green;
  border: none;
  border-radius: 7px;
  color: white;
  /* flex: 2; */
  width: 50px;
  height: 30px;
  margin: 25px;
  cursor: pointer;
}
